<h2>Dane klienta:</h2>
<div *ngIf="client$ | async as client">
    <div>
        <label>Id: </label>{{ client.id }}
    </div>
    <div>
        <label>Nazwa: </label>{{ client.name }}
    </div>
    <div>
        <label>Sprawy: </label>
        <ul class="issues">
            <li *ngFor="let issue of issues$|async">
                <a [routerLink]="['/issue', issue.id]">
                    {{ issue.name }}
                </a>
            </li>
        </ul>
    </div>
    <p>
        <button (click)="gotoClients(client)">Wróć do listy klientów</button>
    </p>
</div>